**Тестовое задание на Аналитика X5**

Задание: Классификация отзывов клиентов

Выполнил: Попов Кирилл

# Библиотеки

In [1]:
import sqlite3
import pandas as pd
#from google.colab import drive
#drive.mount('/content/drive')

# Подготовка данных

Создаю подключение и получаю результат

In [5]:
db = sqlite3.connect('/Users/kirill/Downloads/database X5/db_sqlite_testovoe')

# Создаю курсор
cur = db.cursor()

# Проверка вывода
query = '''SELECT * FROM dostavka'''
cur.execute(query)

# Вывожу первые 3 строки
cur.fetchmany(3)

In [6]:
# Запрос на вывод всех данных
cur.execute(query)

# Все данные из database
results = cur.fetchall()

[]

Создаю пустой df, чтобы дальше загрузить в него данные из database

In [7]:
# Создаем пустой df
columns = ['Unnamed_0','shop','order_number','date','status','review','feedback','text_1','text_2','other_text']
indexs = [0]
values = ['0']

df = pd.DataFrame(index = indexs, data = [values])

In [8]:
# Заполняем данные
for i in range(len(results)):
  for n in range(len(results[i])):
    value = results[i][n]
    df.loc[i,[n]] = value

df.columns = columns
display(df.head())

,Unnamed_0,shop,order_number,date,status,review,feedback,text_1,text_2,other_text
0,0,store_00,42811R65031404,2011-06-19 00:00:56,Не проверен,5.0,NaN,NaN,NaN,NaN
1,1,store_01,143171885R0421,2011-06-19 00:05:42,Не проверен,5.0,NaN,NaN,NaN,NaN
2,2,store_02,50488R51918131,2011-06-19 00:08:19,Не проверен,5.0,NaN,NaN,NaN,NaN
3,3,store_03,4R556131941173,2011-06-19 00:13:57,Не проверен,3.0,долго заказ ждал... хотя доставку оплату повыс...,NaN,NaN,NaN
4,4,store_04,1117R271442037,2011-06-19 00:27:02,Не проверен,3.0,None,NaN,NaN,Без описания

In [9]:
# Выгружаю данные в csv
df.to_csv('database_df.csv', index=False)